html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979fe;
  text-decoration: underline;
}